<!DOCTYPE html>
<html>

<head>
    <title>Akhil Krishnan G</title>

    <meta charset="UTF-8">
    <meta name="description" content="Tech profile of Akhil Krishnan G">
    <meta name="keywords" content="akhilkrishnang, akhil, krishnan, g, profile, technology, software">
    <meta name="author" content="Akhil Krishnan G">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="assets/css/styles.css?v=0.2">
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@300;400;600;700;800&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="content" id="profile-app">
        <div class="content__sidebar">
            <div class="content__sidebar-items">
                <div class="sidebar__menu">
                    <a href="#home" class="material-icons sidebar__menu-icon sidebar__menu-icon--active">face</a>
                </div>
                <div class="sidebar__menu">
                    <a href="#skills" class="material-icons sidebar__menu-icon">construction</a>
                </div>
                <div class="sidebar__menu">
                    <a href="#experience" class="material-icons sidebar__menu-icon">business_center</a>
                </div>
                <div class="sidebar__menu">
                    <a href="#achievements" class="material-icons sidebar__menu-icon">emoji_events</a>
                </div>
                <div class="sidebar__menu">
                    <a href="#education" class="material-icons sidebar__menu-icon">school</a>
                </div>
            </div>
        </div>
        <div id="home" class="content__home"></div>
        <div class="content__dp">
            <img src="assets/images/dp.webp" class="dp__dp-img" />
        </div>
        <div class="content__name-box">
            <span class="name-box__name name-box__name--first">AKHIL</span><br />
            <span class="name-box__name name-box__name--last">KRISHNAN G</span>
        </div>
        <div class="content__about-me">
            Experienced Programmer with a demonstrated history of working in the information technology products and
            services industry. Strong affinity towards UI/UX design and front-end development. Loves JavaScript.
            Passionate about Photography. Engineering professional with a B.Tech focused in Computer Science from
            Cochin University of Science and Technology.
        </div>

        <div class="content__skills-header content--header" id="skills">
            <div>SKILLS</div>
            <div class="content__seperator"></div>
        </div>

        <div class="content__skills">
            <div class="skills__list">
                <div class="skills__main">
                    <div v-for="skill in mainSkills" class="skills__box">
                        {{skill.name}}
                    </div>
                </div>
                <div class="skills__sub">
                    <div v-for="skill in subSkills" class="skills__sub-skill">
                        <i class="material-icons md-18">label_important</i>
                        <div class="skill-name--small">{{skill}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content__experience-header content--header" id="experience">
            <div>EXPERIENCE</div>
            <div class="content__seperator"></div>
        </div>

        <div class="content__experience">
            <div class="experience__title-area experience__title-area--first">
                <div class="title-area__title">
                    {{experiences[0].companyName}}
                </div>
            </div>

            <div class="experience__time-line-area experience__time-line-area--first">
                <div v-for="item in experiences[0].timeLine" class="time-line-area__position-group">
                    <div class="time-line-area__position">
                        <div class="time-line-area__dot"><span class="material-icons">
                                stop_circle
                            </span></div>
                        <div>{{item.position}}</div>
                    </div>
                    <div class="time-line-area__period">
                        <div class="time-line-area__line"></div>
                        <div>{{item.period}}</div>
                    </div>
                </div>
            </div>

            <div class="experience__summary-area experience__summary-area--first">
                <div class="summary-area__summary">
                    {{experiences[0].summary}}
                </div>
            </div>

            <div class="experience__highlights-area experience__highlights-area--first">
                <ul>
                    <li class="highlights-area__item" v-for="(item,index) in experiences[0].highlights">
                        {{item}}
                    </li>
                </ul>
            </div>

            <div class="experience__title-area experience__title-area--second">
                <div class="title-area__title">
                    {{experiences[1].companyName}}
                </div>
            </div>

            <div class="experience__time-line-area experience__time-line-area--second">
                <div v-for="item in experiences[1].timeLine" class="time-line-area__position-group">
                    <div class="time-line-area__position">
                        <div class="time-line-area__dot"><span class="material-icons">
                                stop_circle
                            </span></div>
                        <div>{{item.position}}</div>
                    </div>
                    <div class="time-line-area__period">
                        <div class="time-line-area__line"></div>
                        <div>{{item.period}}</div>
                    </div>
                </div>
            </div>

            <div class="experience__summary-area experience__summary-area--second">
                <div class="summary-area__summary">
                    {{experiences[1].summary}}
                </div>
            </div>

            <div class="experience__highlights-area experience__highlights-area--second">
                <ul>
                    <li class="highlights-area__item" v-for="(item,index) in experiences[1].highlights">
                        {{item}}
                    </li>
                </ul>
            </div>
        </div>

        <div class="content__achievements-header content--header" id="achievements">
            <div>ACHIEVEMENTS</div>
            <div class="content__seperator"></div>
        </div>

        <div class="content__achievements">
            <div class="achievements__node" v-for="ach in achievements">
                <div class="material-icons achievements__bullet">military_tech</div>
                <div class="achievements__text">{{ach}}</div>
            </div>
        </div>

        <div class="content__education-header content--header" id="education">
            <div>EDUCATION</div>
            <div class="content__seperator"></div>
        </div>

        <div class="content__education">
            <div class="education__title-area education__title-area--first">
                <div class="title-area__title">
                    {{education[0].companyName}}
                </div>
            </div>

            <div class="education__time-line-area education__time-line-area--first">
                <div v-for="item in education[0].timeLine" class="time-line-area__position-group">
                    <div class="time-line-area__position">
                        <div class="time-line-area__dot"><span class="material-icons">
                                stop_circle
                            </span></div>
                        <div>{{item.position}}</div>
                    </div>
                    <div class="time-line-area__period">
                        <div class="time-line-area__line"></div>
                        <div>{{item.period}}</div>
                    </div>
                </div>
            </div>

            <div class="education__summary-area education__summary-area--first">
                <div class="summary-area__summary">
                    {{education[0].summary}}
                </div>
            </div>

            <div class="education__title-area education__title-area--second">
                <div class="title-area__title">
                    {{education[1].companyName}}
                </div>
            </div>

            <div class="education__time-line-area education__time-line-area--second">
                <div v-for="item in education[1].timeLine" class="time-line-area__position-group">
                    <div class="time-line-area__position">
                        <div class="time-line-area__dot"><span class="material-icons">
                                stop_circle
                            </span></div>
                        <div>{{item.position}}</div>
                    </div>
                    <div class="time-line-area__period">
                        <div class="time-line-area__line"></div>
                        <div>{{item.period}}</div>
                    </div>
                </div>
            </div>

            <div class="education__summary-area education__summary-area--second">
                <div class="summary-area__summary">
                    {{education[1].summary}}
                </div>
            </div>

        </div>

        <div class="footer-relax-sketch"></div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="assets/js/controller.js?v=0.2"></script>
</body>

</html>