<!DOCTYPE html>
<html>

<head>
    <title>Akhil Krishnan G</title>

    <meta charset="UTF-8">
    <meta name="description" content="Tech profile of Akhil Krishnan G">
    <meta name="keywords" content="akhilkrishnang, akhil, krishnan, g, profile, technology, software">
    <meta name="author" content="Akhil Krishnan G">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="assets/css/styles.css?v=0.5">
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@300;400;600;700;800&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/konpa/devicon@master/devicon.min.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/966ecd7dd2.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="content" id="profile-app">
        <div class="content__sidebar">
            <div class="content__sidebar-items">
                <div class="sidebar__menu">
                    <a href="#home" class="sidebar__menu-icon sidebar__menu-icon--active"><i
                            class="fas fa-user"></i></a>
                </div>
                <div class="sidebar__menu">
                    <a href="#skills" class="sidebar__menu-icon"><i class="fas fa-tools"></i></a>
                </div>
                <div class="sidebar__menu">
                    <a href="#experience" class="sidebar__menu-icon"><i class="fas fa-briefcase"></i></a>
                </div>
                <div class="sidebar__menu">
                    <a href="#achievements" class="sidebar__menu-icon"><i class="fas fa-award"></i></a>
                </div>
                <div class="sidebar__menu">
                    <a href="#education" class="sidebar__menu-icon"><i class="fas fa-graduation-cap"></i></a>
                </div>
            </div>
        </div>
        <div id="home" class="content__home"></div>
        <div class="content__dp" data-aos="zoom-in" data-aos-once="true">
            <img src="assets/images/dp.webp" class="dp__dp-img" />
        </div>
        <div class="content__name-box" data-aos="zoom-in-right" data-aos-once="true">
            <div class="name-box__name name-box__name--first">AKHIL</div>
            <div class="name-box__name name-box__name--last">KRISHNAN G</div>
        </div>
        <div class="content__about-me" data-aos="zoom-in" data-aos-once="true">
            Experienced Programmer with a demonstrated history of working in the information technology products and
            services industry. Strong affinity towards UI/UX design and front-end development. Loves JavaScript.
            Passionate about Photography. Engineering professional with a B.Tech focused in Computer Science from
            Cochin University of Science and Technology.
        </div>

        <div class="content__skills-header content--header" id="skills" data-aos="fade-up" data-aos-once="true">
            <div>SKILLS</div>
            <div class="content__seperator"></div>
        </div>

        <div class="sketch-skills" data-aos="fade-right" data-aos-once="true"></div>

        <div class="content__skills" data-aos="fade-up" data-aos-once="true">
            <div class="skills__list">
                <div class="skills__main">
                    <div v-for="skill in mainSkills" class="skills__box">
                        {{skill.name}}
                    </div>
                </div>
                <div class="skills__sub">
                    <div v-for="skill in subSkills" class="skills__sub-skill">
                        <i class="sub-skill-bullet fas fa-greater-than"></i>
                        <div class="skill-name--small">{{skill}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content__experience-header content--header" id="experience" data-aos="fade-up" data-aos-once="true">
            <div>EXPERIENCE</div>
            <div class="content__seperator"></div>
        </div>

        <div class="content__experience" data-aos="fade-up" data-aos-once="true">
            <div class="sketch-exp" data-aos="fade-left" data-aos-once="true"></div>

            <div class="experience__title-area experience__title-area--first">
                <div class="title-area__title">
                    {{experiences[0].companyName}}
                </div>
            </div>

            <div class="experience__time-line-area experience__time-line-area--first">
                <div v-for="item in experiences[0].timeLine" class="time-line-area__position-group">
                    <div class="time-line-area__position">
                        <div class="time-line-area__dot"><i class="fas fa-circle"></i></div>
                        <div>{{item.position}}</div>
                    </div>
                    <div class="time-line-area__period">
                        <div class="time-line-area__line"></div>
                        <div>{{item.period}}</div>
                    </div>
                </div>
            </div>

            <div class="experience__summary-area experience__summary-area--first" data-aos="fade-up"
                data-aos-once="true">
                <div class="summary-area__summary">
                    {{experiences[0].summary}}
                </div>
            </div>

            <div class="experience__highlights-area experience__highlights-area--first" data-aos="fade-up"
                data-aos-once="true">
                <ul>
                    <li class="highlights-area__item" v-for="(item,index) in experiences[0].highlights">
                        {{item}}
                    </li>
                </ul>
            </div>

            <div class="experience__title-area experience__title-area--second" data-aos="fade-up" data-aos-once="true">
                <div class="title-area__title">
                    {{experiences[1].companyName}}
                </div>
            </div>

            <div class="experience__time-line-area experience__time-line-area--second" data-aos="fade-up"
                data-aos-once="true">
                <div v-for="item in experiences[1].timeLine" class="time-line-area__position-group">
                    <div class="time-line-area__position">
                        <div class="time-line-area__dot"><i class="fas fa-circle"></i></div>
                        <div>{{item.position}}</div>
                    </div>
                    <div class="time-line-area__period">
                        <div class="time-line-area__line"></div>
                        <div>{{item.period}}</div>
                    </div>
                </div>
            </div>

            <div class="experience__summary-area experience__summary-area--second" data-aos="fade-up"
                data-aos-once="true">
                <div class="summary-area__summary">
                    {{experiences[1].summary}}
                </div>
            </div>

            <div class="experience__highlights-area experience__highlights-area--second" data-aos="fade-up"
                data-aos-once="true">
                <ul>
                    <li class="highlights-area__item" v-for="(item,index) in experiences[1].highlights">
                        {{item}}
                    </li>
                </ul>
            </div>
        </div>

        <div class="content__achievements-header content--header" id="achievements" data-aos="fade-up"
            data-aos-once="true">
            <div>ACHIEVEMENTS</div>
            <div class="content__seperator"></div>
        </div>

        <div class="sketch-achievements" data-aos="fade-right" data-aos-once="true"></div>

        <div class="content__achievements" data-aos="fade-up" data-aos-once="true">
            <div class="achievements__node" v-for="ach in achievements">
                <div class="achievements__bullet"><i class="fas fa-bookmark"></i></div>
                <div class="achievements__text">{{ach}}</div>
            </div>
        </div>

        <div class="content__education-header content--header" id="education" data-aos="fade-up" data-aos-once="true">
            <div>EDUCATION</div>
            <div class="content__seperator"></div>
        </div>

        <div class="content__education" data-aos="fade-up" data-aos-once="true">
            <div class="education__title-area education__title-area--first">
                <div class="title-area__title">
                    {{education[0].companyName}}
                </div>
            </div>

            <div class="education__time-line-area education__time-line-area--first" data-aos="fade-up"
                data-aos-once="true">
                <div v-for="item in education[0].timeLine" class="time-line-area__position-group">
                    <div class="time-line-area__position">
                        <div class="time-line-area__dot"><i class="fas fa-circle"></i></div>
                        <div>{{item.position}}</div>
                    </div>
                    <div class="time-line-area__period">
                        <div class="time-line-area__line"></div>
                        <div>{{item.period}}</div>
                    </div>
                </div>
            </div>

            <div class="education__summary-area education__summary-area--first" data-aos="fade-up" data-aos-once="true">
                <div class="summary-area__summary">
                    {{education[0].summary}}
                </div>
            </div>

            <div class="education__title-area education__title-area--second" data-aos="fade-up" data-aos-once="true">
                <div class="title-area__title">
                    {{education[1].companyName}}
                </div>
            </div>

            <div class="education__time-line-area education__time-line-area--second" data-aos="fade-up"
                data-aos-once="true">
                <div v-for="item in education[1].timeLine" class="time-line-area__position-group">
                    <div class="time-line-area__position">
                        <div class="time-line-area__dot"><i class="fas fa-circle"></i></div>
                        <div>{{item.position}}</div>
                    </div>
                    <div class="time-line-area__period">
                        <div class="time-line-area__line"></div>
                        <div>{{item.period}}</div>
                    </div>
                </div>
            </div>

            <div class="education__summary-area education__summary-area--second" data-aos="fade-up"
                data-aos-once="true">
                <div class="summary-area__summary">
                    {{education[1].summary}}
                </div>
            </div>

        </div>

        <div class="sketch-footer-relax" data-aos="fade-left" data-aos-once="true"></div>

        <div class="content__footer" data-aos="zoom-in" data-aos-anchor-placement="top-bottom" data-aos-once="true">
            <div class="footer__tech-profiles">
                <a href="https://www.linkedin.com/in/akhilkrishnang/" target="_blank">
                    <div class="footer__icon"><i class="devicon-linkedin-plain colored"></i></div>
                </a>
                <a href="https://github.com/akhilkrishnang" target="_blank">
                    <div class="footer__icon"><i class="devicon-github-plain colored"></i></div>
                </a>
                <a href="https://www.behance.net/akhilkrishnang" target="_blank">
                    <div class="footer__icon"><i class="devicon-behance-plain colored"></i></div>
                </a>
            </div>
            <div class="footer__social">
                <a href="https://www.facebook.com/akhilkrishnang" target="_blank">
                    <div class="footer__icon"><i class="devicon-facebook-plain colored"></i></div>
                </a>
                <a href="https://www.instagram.com/instaakg/" target="_blank">
                    <div class="footer__icon"><img src="assets/images/social_logos/insta.svg" /></div>
                </a>
                <a href="http://500px.com/akhilkrishnang" target="_blank">
                    <div class="footer__icon"><img src="assets/images/social_logos/500px.svg" /></div>
                </a>
            </div>
            <div class="footer__contact">
                <a href="https://www.akhilkrishnang.com/" target="_blank">
                    <div class="footer__icon"><i class="devicon-wordpress-plain colored"></i></div>
                </a>
                <a href="mailto:akhilrohini@gmail.com" target="_blank">
                    <div class="footer__icon"><img src="assets/images/social_logos/email.png" /></div>
                </a>
            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="assets/js/controller.js?v=0.5"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>