body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
 /* Grid design for the small devices */ 
.content {
    display: grid;
    gap: 20px 10px;
    grid-template-columns: 20px 1fr 20px;    
    grid-template-rows: 40px auto auto auto 60px;
    grid-template-areas: ". . . " ". dp ." ". name ." ". about ." "sidebar sidebar sidebar";
}
.content__sidebar {
    width: auto;
    background: #333;
    position: sticky;
    top:0;
    left:0;
    height: 100%;
    grid-area: sidebar;
}

.content__dp {
    grid-area: dp;
    justify-self: start;
}

.content__name-box {
    grid-area: name;
}

.content__about-me {
    grid-area: about;
}

.name-box__name {
    font-size: 50px;
}

.name-box__name--first {
    font-weight: 400;
}

.name-box__name--last {
    font-weight: 100;
}

.dp__dp-img {
    border-radius: 50%;
    border: 5px solid #e0e0e0;
    height: 150px;
}

@media (min-width:641px)  {
    /* Any device bigger than portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    .content {
        grid-template-columns: 60px 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px auto auto;
        grid-template-areas: "sidebar . . . ." "sidebar dp dp name name" "sidebar . about about .";
    }
    .dp__dp-img {
        border-radius: 0;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
    }
    .content__dp {
        grid-area: dp;
        justify-self: end;
    }
}