html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #393939;
    margin: 0;
}

/* Styles & Grid design for the small devices */

.content {
    padding: 20px;
}

.content__sidebar {
    display: none;
}

.content--header {
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
    margin-top: 20px;
    display: flex;
    margin-bottom: 15px;
}

.content__name-box {
    font-family: 'Open Sans Condensed', sans-serif;
}

.name-box__name {
    font-size: 50px;
}

.name-box__name--first {
    font-weight: 700;
}

.name-box__name--last {
    font-weight: 100;
}

.dp__dp-img {
    border-radius: 50%;
    border: 5px solid #e0e0e0;
    height: 150px;
}

.content__seperator {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    margin-left: 5px;
    width: 100%;
}

.skills__main, .skills__sub {
    display: flex;
    flex-wrap: wrap;
}

.skills__sub {
    margin-top: 20px;
}

.skills__box {
    margin-right: 10px;
    border: 1px solid #ccc;
    padding: 5px 15px;
    border-radius: 20px;
    width: max-content;
    margin-bottom: 8px;
}

.skills__sub-skill {
    margin-right: 24px;
    margin-bottom: 12px;
}

.skill-name--small {
    font-size: 14px;
    margin-top: -1px;
    float: left;
}

.material-icons.md-18 {
    font-size: 18px;
    float: left;
}
.material-icons.sidebar__menu-icon {
    color: #b9b9b9;
    font-size: 32px;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
}

.sidebar__menu-icon:hover {
    color: #fff;
}

.sidebar__menu-icon.sidebar__menu-icon--active, .sidebar__menu-icon:active {
    background: #1c1c1c;
    border-radius: 50%;
    padding: 10px;
    color: #ffce00;
}

.item__seperator.item__seperator--xs{
    font-size: 8px;
}

.experience0__highlights-area {
    text-align: justify;
}

.title-area__title {
    font-size: 20px;
    font-weight: 700;
    height: 50px;
}

.experience__time-line-area {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.time-line-area__position {
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    color: #e1b600;
    display: flex;
}
.time-line-area__position-group:first-child .time-line-area__position{
    font-size: 28px;
}
.time-line-area__position-group .time-line-area__period{
    height: 40px;
    display: flex;
}
.time-line-area__position-group:first-child .time-line-area__period{
    height: 60px;
}
.time-line-area__position-group .time-line-area__line{
    width: 15px;
    margin-left: 15px;
    border-left: 1px solid #ccc;
}
.time-line-area__position-group:last-child .time-line-area__line{
    border-left: none;
}
.time-line-area__dot {
    width: 30px;
    text-align: center;
}
.time-line-area__dot .material-icons {
    font-size: 12px;
    color: #ccc;
}
/* Check browser support for Grid features - and enable better layout */

@supports (display: grid) {
    .content {
        display: grid;
        gap: 20px 10px;
        grid-template-columns: 20px 1fr 20px;
        grid-template-rows: 40px auto auto auto auto auto 60px;
        grid-template-areas: 
        ". home . " 
        ". dp ." 
        ". name ." 
        ". about ." 
        ". skills-header ." 
        ". skills ." 
        ". experience-header ." 
        ". experience ." 
        "sidebar sidebar sidebar";
        padding: 0;
    }
    .content__sidebar {
        display: block;
        width: auto;
        background: #333;
        position: sticky;
        bottom: 0;
        left: 0;
        height: 100%;
        grid-area: sidebar;        
    }
    .content__sidebar-items {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 60%;
        height: 60px;
    }
    .content__home{
        grid-area: home;
    }
    .content__dp {
        grid-area: dp;
        justify-self: start;
    }
    .content__name-box {
        grid-area: name;
    }
    .content__about-me {
        grid-area: about;
    }
    .content__skills-header {
        grid-area: skills-header;
    }
    .content__skills {
        grid-area: skills;
    }
    .content__experience-header {
        grid-area: experience-header;
    }
    .content__experience {
        grid-area: experience;
    }
}

/* Overriding grid & styles for large devices */

@media (min-width:641px) {
    @supports (display: grid) {
        .content {
            grid-template-columns: 60px 1fr 1fr 2fr 2fr 1fr 1fr;
            grid-template-rows: 100px auto auto auto auto;
            grid-template-areas: 
            "sidebar . . home home . ." 
            "sidebar . dp dp name name ." 
            "sidebar . . about about . ." 
            "sidebar . skills-header skills-header skills-header skills-header ." 
            "sidebar . . skills skills . ." 
            "sidebar . experience-header experience-header experience-header experience-header ." 
            "sidebar . . experience experience . .";
        }
        .content__sidebar {
            top: 0;
            left: 0;            
        }
        .content__sidebar-items{
            flex-direction: column;
            height: 30%;
            justify-content: space-evenly;
            width: 100%;
        }
        .content__dp {
            justify-self: end;
        }
        .dp__dp-img {
            border-radius: 0;
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;
        }
    }
}